{% extends 'articles/base.html' %}

{% block content %}

<h1>{{ user }}</h1>
<h6>Дата регистрации: {{user.date_joined}}</h6>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus impedit magnam nihil repudiandae ullam nemo dolores non deleniti, necessitatibus quibusdam voluptatum laudantium, minima rerum, quisquam quod ipsa? Quidem, vero? Tempore doloribus iste atque voluptatibus ab ullam, accusantium sit illo magni commodi rem ipsum recusandae eius libero saepe veritatis iure quibusdam ea porro minima iusto dolor excepturi! Dolorem rem fugit a, enim nisi magni impedit id nemo excepturi? Voluptate quos iste totam temporibus nisi, tempore odit velit officiis voluptas reprehenderit asperiores eaque omnis similique rerum itaque facilis ea dignissimos consequatur, soluta quae magnam sequi ipsa. Impedit laborum recusandae magnam dolore dolores.

{% endblock content %}