{% extends 'articles/base.html' %}


{% block content %}

<h1>{{title}}</h1>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et voluptate culpa nemo sapiente, consequuntur deserunt mollitia sequi nulla eligendi possimus dolores accusamus, neque earum laboriosam maxime fuga similique cum corrupti officia. Temporibus reprehenderit dolorem voluptas saepe mollitia doloremque, ipsam quibusdam quia rem est facere dignissimos nesciunt deleniti tempora ex illo, ut vero atque. Asperiores laboriosam voluptate explicabo. Dignissimos dolores beatae nisi, exercitationem molestias repellendus iure saepe fugiat, odio cum vitae eum enim suscipit fuga ipsa maiores aut. Commodi id repellendus doloremque ea perspiciatis quisquam odit incidunt ut explicabo ipsa enim nisi ad temporibus sit non omnis nemo, veritatis delectus dolore!</p>

{% endblock content %}