{% extends 'articles/base.html' %}

{% block content %}

<ul class="list-group">
    {% for article in articles %}
    <li class="list-group-item mb-4">
        <h2 class="h4 mb-1">{{ article }}</h2>
        <h5 class="text-muted">{{ article.description }}</h5>
        {% autoescape on %}
        <p class="mb-0">{{ article.content|linebreaks|truncatewords:30 }}</p>
        {% endautoescape %}
        <h6 class="text-muted">Автор: {{ article.user }}</h6>
        <div class="text-muted">
            {{ article.time_create }}
            <div class="text-end"><a href="{{ article.get_absolute_url }}" class="btn bg-secondary text-white">Читать пост</a></div>
        </div>
    </li>
    {% endfor %}
</ul>


{% endblock content %}